<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Student</title>
  </head>
  <body>
    <h2>Add New student</h2>
    <form action="/cadet/new" method="POST">
        
        <table>
            <tr>
                <th>Roll No</th>
                <td><input type="text" name="Roll_No"></td>
            </tr>
            <tr>
                <th>Name Of Candidate</th>
                <td><input type="text" name="Name_Of_Candidate"></td>
            </tr>
            <tr>
                <th>Registration No Year</th>
                <td><input type="text" name="Registration_No_Year"></td>
            </tr>
            <tr>
                <th>M Theory</th>
                <td><input type="text" name="M_Theory"></td>
            </tr>
            <tr>
                <th>M Internal</th>
                <td><input type="text" name="M_Internal"></td>
            </tr>
            <tr>
                <th>M Total</th>
                <td><input type="text" name="M_Total"></td>
            </tr>
            <tr>
                <th>D Theory</th>
                <td><input type="text" name="D_Theory"></td>
            </tr>
            <tr>
                <th>D Internal</th>
                <td><input type="text" name="D_Internal"></td>
            </tr>
            <tr>
                <th>D Total</th>
                <td><input type="text" name="D_Total"></td>
            </tr>
            <tr>
                <th>C Theory</th>
                <td><input type="text" name="C_Theory"></td>
            </tr>
            <tr>
                <th>C Internal</th>
                <td><input type="text" name="C_Internal"></td>
            </tr>
            <tr>
                <th>C Total</th>
                <td><input type="text" name="C_Total"></td>
            </tr>
            <tr>
                <th>Total</th>
                <td><input type="text" name="Total"></td>
            </tr>
            <tr>
                <th>Com Prac</th>
                <td><input type="text" name="Com_Prac"></td>
            </tr>
            <tr>
                <th>Aggregate</th>
                <td><input type="text" name="Aggregate"></td>
            </tr>
            <tr>
                <th>Result</th>
                <td><input type="text" name="Result"></td>
            </tr>
        </table>
        <input type="password" name="password" placeholder="enter password"/>
        <button>Submit</button>
    </form>
</body>
</html>